 <!-- store top filter -->
<div class="store-filter clearfix">
    <ul class="store-grid pull-left">
        <li class="active"><i class="fa fa-th"></i></li>
        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
    </ul>
    <div class="store-sort pull-right">
        <label>
            <select class="input-select">
                <option value="0"> امتیاز</option>
                <option value="1">قیمت</option>
            </select>
            نمایش براساس
        </label>

        <label>

            <select class="input-select">
                <option value="0">20</option>
                <option value="1">50</option>
            </select>
            تعداد محصولات
        </label>
    </div>

</div>
<!-- /store top filter -->