<!-- HOT DEAL SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>روز</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>ساعت</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>دقیقه</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>60</h3>
                                <span>ثانیه</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">تخفیفات داغ این هفته</h2>
                    <p>گلچینی از تخقیفات بالای 50%</p>
                    <a class="primary-btn cta-btn" href="~/#">مشاهده</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->